
@media screen and (max-device-width: 480px){
  .Container{
    flex-direction: column-reverse;
  }
  .Navigation-container{
    padding-top: 10px;
    flex: none;
  }
  .Navigation{
    text-align: left!important;
    width: 100%!important;
    padding-left: 30px;
    padding-right: 20px;
    .title{
      text-align: left;
      margin-top: 20px!important;
      margin-bottom: 20px!important;
      // margin-left: 30px;
      text-decoration: none;
    }
    p{
      margin-right: 10px;
      display: inline-block;
      text-decoration: underline;
    }
  }
  .Slide{
    .content-parent{
      padding-top: 20px;
    }
    p{
      width: 90%!important;
    }
  }
  .Slide0{
    img{
      margin: 0;
      width: 65%;
    }
  }
  .Slide1{
    .content-parent{
      display: block;
    }
    .logo-container{
      width: 300px;
      margin: 0 auto;
      img{
        transform: translateX(-200px);
      }
    }

  }
  .Slide3{
    .content-parent{
      display: block;
    }
  }
  .footer{
    // p{
    //   font-size: 12px;
    // }
    p{
      margin: 10px;
      margin-left: 15px;
    }
    .right{
      float:left;
    }
  }
  .Slide6{
    .project{
      width: 100%;
    }
  }
  .Slide7{
    .blog-post{
      width: 100%;
    }
  }
}
